EXPO_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
EXPO_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_3ad019daf80f5cf6368abbb8bcae8f5694b15a8480728313ba87fd2e6eb02036
EXPO_PUBLIC_DEFAULT_REGION=ph
EXPO_PUBLIC_ALGOLIA_APP_ID=
EXPO_PUBLIC_ALGOLIA_SEARCH_API_KEY=
